---
---

@import "{{ site.theme }}";

.page-header {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.project-tagline {
  margin-top: 0px;
}

.project-name {
  margin-bottom: 0px;
}

.site-footer {
  display: none;
}

body {
  text-align: center;
}
